*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

}

header{

    background:#003366;

    color:white;

    padding:18px;

    text-align:center;

}

.container{

    display:flex;

    height:calc(100vh - 70px);

}

.sidebar{

    width:38%;

    overflow-y:auto;

    border-right:1px solid #ddd;

    background:#f8f8f8;

}

#map{

    width:62%;

}

#searchBox{

    width:95%;

    margin:10px;

    padding:12px;

    font-size:16px;

}

.school-card{

    background:white;

    margin:10px;

    padding:15px;

    border-radius:10px;

    cursor:pointer;

    box-shadow:0 2px 5px rgba(0,0,0,.15);

    transition:.3s;

}

.school-card:hover{

    background:#eaf3ff;

}

.school-name{

    font-size:18px;

    font-weight:bold;

    color:#003366;

}

.school-address{

    margin-top:8px;

    color:#555;

    font-size:14px;

}

.school-contact{

    margin-top:10px;

    font-size:14px;

}

.clickable{

    cursor:pointer;

}

.clickable:hover{

    color:#0066cc;

    text-decoration:underline;

}

.school-contact{

    margin-top:8px;

}

.school-contact a{

    color:#0066cc;

    text-decoration:none;

}

.school-contact a:hover{

    text-decoration:underline;

}
